<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Qr Code Generator</title>
</head>
<body>
    <h1>Qr Code Generator</h1>
    <form method="POST">
        {% csrf_token %}
        <input type="text" name="url" placeholder="Enter data to generate qrcode" required >
        <button type="submit">Generate Qr Code </button>
    </form>
    <div>
        
        {% if img %}
        <h3>your qr code is: <img src="/media/{{img}}"></h3>
            
        {% endif %}
            
    </div>        
    
        
</body>
</html>